

@import url("C:/Users/Youssef/Downloads/miniProjet_Masmoudi/Projet_Mohamed_Youssef_Masmoudi/src/app/destinations/destinations.css");



  .styleavecadmin {
    background-color: #123249;
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 45rem;
    align-items: center;
    padding: 0.5rem; 
    border-radius: 1rem; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.06); 
}
.stylesansadmin{
     background-color: #123249;
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 34rem;
    align-items: center;
    padding: 0.5rem; 
    border-radius: 1rem; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.06); 

}



