<div class="bg-[#123249] w-full my-10  p-3 h-[300px]  flex gap-10 justify-center items-center">
  <mat-card class="mini-card">
    <mat-icon>apartment</mat-icon>
    <mat-card-title> <p> Architecture Tunisienne </p></mat-card-title>
    <mat-card-content class="content">
      Des médinas traditionnelles aux bâtiments modernes
    </mat-card-content>
  </mat-card>

  <mat-card class="mini-card">
    <mat-icon>place</mat-icon>
    <mat-card-title> <p> Points forts de la Tunisie </p> </mat-card-title>
    <mat-card-content class="content">
      Explorez les sites les plus célèbres et les merveilles naturelles de la Tunisie
    </mat-card-content>
  </mat-card>

  <mat-card class="mini-card">
    <mat-icon>history</mat-icon>
    <mat-card-title> <p> Histoire de la Tunisie </p> </mat-card-title>
    <mat-card-content class="content">
      Découvrez le riche passé de la Tunisie, de l’ancienne Carthage à l’époque moderne
    </mat-card-content>
  </mat-card>
</div>
