@import 'tailwindcss';
@layer base{
    img{
        @apply w-[240px] rounded-2xl  

    }
    button{
       @apply text-white bg-[#123249]  border-1 border-[#2a6584] px-5 py-2 rounded-2xl  duration-200 cursor-pointer hover:-translate-y-1 hover:bg-linear-to-r from-[#123249] to-[#2D5B75] ;
    }
}