<section class=" p-5 grid grid-cols-2 gap-6">
  <div class="relative w-[250px] h-[250px] left-48 translate-x-15">
    <img
      src="/JAMA31.jpg"
      alt=""
      class="absolute top-0 left-0 w-full h-full object-cover rounded-lg shadow-md"
    />
    <img
      src="/jama32.jpg"
      alt=""
      class="absolute top-[80px] left-[120px] w-full h-full object-cover rounded-lg shadow-lg"
    />
  </div>

  <div class="flex flex-col items-center justify-center relative right-2 -translate-x-3 gap-3">
    <p class="text-xl font-semibold text-[#447794] ">D'ecouvre la Tunisie</p>
    <p class="text-[13px] font-bold text-[#e6e6e6]/85">
      Découvrez la Tunisie avec sécurité et sérénité. Que vous soyez  passionné <br> par  les plages
      dorées, l’histoire millénaire ou la  gastronomie méditerranéenne  <br> , notre pays vous ouvre ses
      portes avec chaleur et hospitalité. Nous mettons  <br> tout en œuvre pour vous garantir un voyage
      agréable, sécurisé
    </p>
    <button routerLink="/destination">explorer !</button>
  </div>
  <div class=" p-3 flex flex-col items-center justify-center translate-x-50 translate-y-16 gap-3 w-fit">
    <p class="text-xl font-bold text-[#447794] ">D'ecouvre la Tunisie</p>
    <p class="text-[13px] font-semibold text-[#e6e6e6]/85">
      De moments relaxants avec les gens que vous rencontrez en route . <br> En Tunisie, chaque sourire,
      chaque conversation et chaque partage <br> deviennent une partie de votre  voyage. Prenez le temps <br>
      de discuter avec les habitants, de découvrir leurs traditions, <br> de goûter à leur cuisine et de
      profiter de cette hospitalité unique 
    </p>
    <button routerLink="/destination"  >explorer !</button>
  </div>

  <div class="relative w-[250px] h-[250px] top-9 left-32 -translate-x-28">
    <img
      src="/sectionP1.jpg"
      alt=""
      class="absolute top-[33px] left-[33px] w-full h-full object-cover rounded-lg shadow-md"
    />
    <img
      src="/sectionP2.jpg"
      alt=""
      class="absolute top-[90px] left-[143px] w-full h-full object-cover rounded-lg shadow-lg"
    />
  </div>
</section>
