@import 'tailwindcss';

@layer base {
  button {
    @apply text-white bg-[#123249]  border-1 border-[#2a6584] px-5 py-2 rounded-2xl  duration-200 cursor-pointer hover:-translate-y-1;
  }
  input {
    @apply border-[#447794] rounded-[5px] w-[30%] outline-[#447794]/80 outline text-[14px] p-1.5;
  }
  input::placeholder {
    @apply opacity-55 text-[14px] p-1.5;
  }
  img {
    @apply w-full h-[100%] object-cover mx-auto my-0 rounded-2xl;
  }
  p {
    @apply text-lg text-white/85 font-semibold;
  }
}
@layer components {
  .pos {
    @apply flex w-full  items-center;
  }
  .change {
    @apply text-[#2D5B75] bg-white/90  border-1 border-[#061222] px-5 py-2 rounded-2xl  duration-200 cursor-pointer hover:-translate-y-1 hover:bg-white/90 font-semibold w-[90%];
  }
}
