@import 'tailwindcss';
 .danger {
    @apply bg-red-500/90 text-white 
         w-[100%] rounded-lg 
         text-sm py-2 px-3 
         flex items-center gap-2 
         text-center
         shadow-sm;
  }
  .style {
    @apply flex flex-col gap-4 ;
  }
   .unique {
    @apply p-4 self-center w-[100%] flex flex-col justify-center items-center   gap-4   !bg-[#061222] rounded-2xl;
  }
   input {
    @apply border-[#447794] rounded-[5px] w-full outline-[#447794]/80 outline text-[17px] p-1.5;
  }
  input::placeholder {
    @apply opacity-55 text-[14px] p-1.5;
  }
  label {
    @apply text-[17px] text-white/80;
  }
   button {
    @apply text-white bg-[#123249]  border-1 border-[#2a6584] px-5 py-2 rounded-2xl  duration-200 cursor-pointer hover:-translate-y-1 hover:bg-linear-to-r from-[#123249] to-[#2D5B75];
  }