@import 'tailwindcss';
@layer base {
  body {
    @apply bg-[#061222]  text-white;
  }
  html,
  body {
  
   
  }
}
html,
body {
 

}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
