@import 'tailwindcss';
@layer components {
  .style {
    @apply flex flex-col gap-2 w-full;
  }
}

@layer base {
  input {
    @apply border-[#447794] rounded-[5px] w-[100%] outline-[#447794]/80 outline text-[20px] p-1.5;
  }
  input::placeholder {
    @apply opacity-55 text-lg p-1.5;
  }
  label {
    @apply text-[20px] text-white/80;
  }
   button {
    @apply text-white bg-[#123249]  border-1 border-[#2a6584] px-5 py-2 rounded-2xl  duration-200 cursor-pointer hover:-translate-y-1 hover:bg-linear-to-r from-[#123249] to-[#2D5B75];
  }
}
.danger {
    @apply bg-red-500/90 text-white 
         w-[100%] rounded-lg 
         text-sm py-2 px-3 
         flex items-center gap-2 
         text-center
        
         shadow-sm;
  }
