<section class=" flex flex-col items-center p-3 gap-4  ">
  <div class="tracking-wide leading-9 ">
    <p class="" >Planifiez vos <span class="text-[#447794]" >aventure</span>  et</p>
    <p class=""><span span class="text-[#447794]">Découvrez</span> la monde de Tunisie</p>
  </div>
  <div class="tracking-wide">
    <p class="text-[10px]  ">nous vous aiderons à trouver la destination de vos rêves, nous vous recommanderons</p>
    <p class="text-[10px] ">de beaux endroits et un voyage abordable pour vous</p>

  </div>
  <button class="text-white bg-[#15445f]" routerLink="/destination"> commence votre journer </button>
  <div class="w-[80%] h-[40%] ">
    <img src="/P4.jpg" alt="" class="w-full h-[300px] rounded-2xl " >
  </div>
</section>
