@import 'tailwindcss';
section {
  
}
@layer base {
  button {
    @apply border-1 border-[#2a6584] px-5 py-2 rounded-2xl  duration-200 cursor-pointer hover:-translate-y-1 text-[#2a6584];
  }
  p{
    @apply text-[30px] font-bold text-center text-white/70
  }
}
img{
    object-fit: cover;
}
